<!DOCTYPE html>
<html>
<head>
  <title>Rater</title>
  <%= stylesheet_link_tag    "rater/application", media: "all" %>
  <%= javascript_include_tag "rater/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
